---
# Only the main Sass file needs front matter (the dashes are enough)
---
$border-radius-base: 0;

@import "bootstrap";

.icon {
  width: 16px;
  display: inline-block;
}

.form-inline input.email {
  width: 250px;
}

footer {
  color: #ccc;
}
