<nav class="docs-sidebar hidden-xs hidden-sm">

    {% for section in site.data.docs %}
    <h4 class="docs-sidebar-title">{{ section.title }}</h4>

    <ul class="nav nav-stacked">
    {% for item in section.docs %}
      {% assign item_url = item | prepend:"/docs/" | append:"/" %}
      {% assign p = site.docs | where:"url", item_url | first %}
      {% if p.title %}
      <li class="docs-sidebar-item{% if item_url == page.url %} active{% endif %}"><a class="docs-sidebar-link"href="{{ p.url }}">{{ p.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
    {% endfor %}

    <h4 class="docs-sidebar-title">Beam Documentation</h4>

</nav>
