<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>
          &copy; DataRadiant 2016. All rights reserved.<br/>
          <small>
          Apache Beam, Apache Flink are trademarks of the Apache Software Foundation.<br/>
          AWS is trademark of Amazon.com, Inc.
          </small>
        </p>
      </div>

      <div class="footer-col" style="float: right">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
