<header class="navbar navbar-inverse {{ page.navbar | default: 'normal' }}" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        {% for item in site.data.nav %}
          {% assign item_url = item | prepend:"/" | append:"/" %}
          {% assign item_home_url = item_url | append: 'home/' %}
          {% assign p = site.pages | where:"url", item_url | first %}
          {% if p.title %}
          <li class="{% if (page.url == item_url) or (page.url == item_home_url) %}active{% endif %}">
            <a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>