---
layout: default
---
<div id="blog">
	<div id="posts">
		<div class="container">
			<div class="row">
				<div class="col-md-9">

					<div class="post">
						<div class="title">
							{{ page.title }}
						</div>
						{{ content }}
					</div>

				</div>
				<div class="col-md-3 sidebar">
					<div class="updates">
						<strong>
							Free blog updates
							<i class="fa fa-rss"></i>
						</strong>
						<p>
							Never miss an update. 
							Sign up  to receieve an email whenever we post something in the blog.
						</p>
					</div>
					{% include docs-contents.html %}
				</div>
			</div>
		</div>
	</div>
</div>